<h1 style="text-align: center;"> {{title}}</h1>

<form>

<input type="text" name="nombre" [(ngModel)]="nombre"> <br/>

<input type="text" name="apellido"[(ngModel)]="apellido"> <br/>

<input type="text" name="cargo"[(ngModel)]="cargo"> <br/>

<input type="submit" value="Registrar" (click)="registrarUsuario()">


</form>
<br/>

<p *ngIf="registrado; else sinRegistrar"> {{mensaje}} con el nombre de {{nombre}} {{apellido}} 
  y tiene el cargo de <span [ngClass]="{paraDirectores:cargo=='director'}"> {{cargo}} </span></p>

<ng-template #sinRegistrar>

  <p>Nadie registrado</p>

</ng-template>

<br/><br/>

